.big{
	background-color: #f5f5f5;
	padding-top: 120px;
	padding-bottom:120px;
}

.navbar {
	background-color: #ff6c92;
	border: none;
}



p {
	font-size: 17px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

li {
	padding-left: 20px;
	padding-right: 20px;
}

.navbar .navbar-collapse {
  text-align: center;
}

button:hover {
	background-color:none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#burger {
	border:none; 
	background-color:none;
	float:left;
}

.container {
	width:70%;
}

.footer {
	background-color: #acee76;
	padding-top: 10px;
	padding-bottom:10px;
}

h1 {
	font-family: Bebas Neue Regular;
	font-size: 50px;
	text-align: center;
}

h2 {
	font-family: Bebas Neue Regular;
	font-size: 100px;
	color: #3e5d9e;
	text-align: right;
}

h3 {
	font-family: Bebas Neue Regular;
	font-size: 100px;
	color: #e3ce43;
	text-align: right;
}

h4 {
	font-family: Bebas Neue Regular;
	font-size: 30px;
	color: white;
	text-align: right;
}